[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Apartment
ExecStart=/home/ubuntu/Apartment/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 0.0.0.0:8000 \
          apartment.wsgi:application
[Install]
WantedBy=multi-user.target